
.about-gallery {
  // display: grid;
  // grid-template-columns: repeat(13,1fr);
  // grid-template-rows: repeat(13,1fr);

  @include respond(tab-por){
    grid-template-rows: repeat(12, 1fr) !important;
  }
  @include respond(mobile-por){
    // grid-template-columns: repeat(13, 1fr) !important;
    grid-template-rows: repeat(11, 1fr) !important;
  }
   @include respond(mobile-land){
    display: none !important;
    visibility: hidden;
    width: 0rem;
   }
  // position: relative;
  // margin: 10rem;
}
