
.aboutGallery {
  display: grid;
  grid-template-columns: repeat(13,1fr);
  grid-template-rows: repeat(13,1fr);
  // position: relative;
  // margin: 10rem;
}


// about-gallery__img-1 .about-gallery__img-2 {
//   position: absolute;
// }

// .about-gallery__img-1 {
//   display: block;
//   background-image: url("./rig-image.jpeg");
//   width: 600px;
//   height: 420px;
//   border-radius: 10px;
//   background-size: cover;
//   margin-top: 5rem;
//   margin-left: 9.1rem;
// }

// .about-gallery__img-2 {
//   display: block;
//   background-image: url('../../Asah_Images/lady_and_robot-arm.png');
//   // max-width: 100%;
//   // max-height: 100%;
//   object-fit: fill;
//   width: 372px;
//   height: 326px;
//   margin-top: -13rem;
//   margin-left: 6rem;
//   border-radius: 10px;
// } 
  
// // .image3 {
// //  grid-area: 2 / 1 / 3 / 2; /* Fill a quarter of the grid */
// //  background-image: url('image3.jpg');
// //  background-size: cover; 
// // }
