.about{
    grid-row: 2 / 3;
    // background-color: var(--color-white);
    height: 100%;
    background-color: #F2F5F9;

    display: grid;
    grid-template-rows: 30rem 1fr;
    align-items: center;

    &-top{
        grid-row: 1 / 2;
        background: #F2F5F9; 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 7rem;

        // &--container{
        // grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        //     display: flex;
        // }
    }
}