.about {
  grid-row: 2 / 3;
  // background-color: var(--color-white);
  height: 100%;
  background-color: #f2f5f9;
  // background-image: url(../../Asah_Images/_\ \(2\).jpeg);

  display: grid;
  grid-template-rows: 30rem 100vh;
  align-items: center;
  margin-bottom: 6rem;

  @include respond (tab-por){
    display: grid;
    grid-template-rows: repeat(2, max-content);
    padding-top: 2rem;
}



  &-top {
    grid-row: 1 / 2;
    background: #f2f5f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    // width: 100vw;
    @include respond (tab-por){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      margin: 0;
      padding: 0 3rem;
  }

    // &--container{
    // grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    //     display: flex;
    // }
  }
  &-section {
    grid-row: 2/ 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    @include respond(tab-por){
      // grid-template-columns: 28rem 1fr; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;     
    }
    @include respond(mobile-por){
      grid-template-columns: 1fr;
      grid-template-rows: 28rem max-content ;
    }
    @include respond(mobile-land){
      grid-template-rows: 1fr;
    }


  }
  
  &-main{
    @include respond(tab-por){
      padding: 2.8rem 5.5rem !important;
      justify-content: center !important;
      align-items: center !important;

    } 
    @include respond(mobile-por){
      justify-content: center !important;
      align-items: center !important;
      padding: 3rem !important;
    }
    @include respond(mobile-land){
      padding: 0rem !important;
    }
    
    &__header--tertiary{
      @include respond(tab-por){
        margin: 0;
        padding: 0 !important;
      }    
      
      @include respond(mobile-por){
        padding-left: 2rem !important;
        text-align: center !important;
      }
      @include respond(mobile-land){
        padding: 0 !important;
      }
  }
  &--paragraph{

     @include respond(tab-por){
      padding: 0rem 1.2rem !important;
      margin: 1rem 0rem !important;
      text-align: center;
     }
  }
}

&--list{
  @include respond(mobile-land){
    display: grid !important;
    grid-template-columns: min-content 1fr;
    justify-content: center;
    align-items: start !important;
    text-align: start !important;
  }
}
}

