
.aboutGallery {
  display: grid;
  background-image: linear-gradient( to bottom, #BCBCBC, rgb(255, 255, 255));
  
}

.about-gallery__img-1 {
  display: block;
  background-image: url("./rig-image.jpeg");
  grid-template-columns: (4 / 18); 
  grid-template-rows: ( 2 / 12);
  grid-area: 70%;
  width: 75%;
  height: 60%;
  border-radius: 10px;
  margin-left: 80px;
  background-size: cover;
  position: relative;
}

.about-gallery__img-2 {
  display: block;
  grid-column: (1 / 6);
  grid-row: (5 / 10);
  background-size: 50%;
  width: 40%;
  height: 40%;
  border-radius: 10px;
  background-image: url("./Asah_Images/Rectangle 10.png");
  position:relative;
  padding-bottom: 70px;
} 

// .image3 {
//  grid-area: 2 / 1 / 3 / 2; /* Fill a quarter of the grid */
//  background-image: url('image3.jpg');
//  background-size: cover; 
// }
