.choose{
    grid-row: 4 / 5;
    height: 100%;
    background-color: var(--color-black-light-1);

     
    @include respond(mobile-land){
        width: 100vw;
        padding: .5rem !important;
        grid-template-columns: auto !important;
    }
    @include respond(tab-land){
       grid-template-columns: auto !important;
       justify-content: center;
    }
    // @include respond(tab-por){
    //     grid-template-columns: 36rem !important;
    // }

    @include respond(sm-laptop){
        padding: 3rem 1rem 4rem 3rem !important;
        grid-gap: 2rem;
    }

    &-main{

        &__container{
            @include respond(mobile-land){
                grid-template-rows: repeat(auto-fit, min-content);
            grid-template-columns: auto !important;
            justify-content: center;
            }

            
        }
    }

    &-gallery{

        // width: max-content;
        position:relative;

        @include respond(tab-land){
            display: none;
            visibility: hidden;
            width: 0;
        }
        @include respond(tab-por){
            // width: 0;
            // display: none;
            // visibility: hidden;
        
            position:unset;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        &__container{
            position: absolute;
            transform: rotate(40deg);
            width: 15rem;
            height: 15rem;
            // padding: .2rem;
            border: 5px solid #fff;
            border-radius: 1rem;
            @include respond(tab-land){
                display: none;
                visibility: hidden;
                width: 0;
            }
            @include respond(tab-por){
                position: unset;
            }
            @include respond(sm-laptop){
                width: 12rem;
                height: 12rem;
            }

            &--1{
                @include respond(sm-laptop){
                    top: 34% !important;
                    left: 7% !important;
                }
            }

            &--2{
                @include respond(sm-laptop){
                    top: 30.5% !important;
                    left: 60.8% !important;
                }
            }

            &--3{
                @include respond(sm-laptop){

                }
            }

        }
        &__images{
           
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            // transform: rotate(40deg);
            
        }
    }

    & div{

    }
}
#choose_section{
 @include respond(mobile-land){
    height: max-content;
 }
}