.footer{
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    // background-color: red;
    // padding: 5rem;
     &-display{
         @include respond(tab-por){
             width: 100% !important;
            }
        
        @include respond(mobile-land){
            display: flex !important;
            flex-direction: column;
        }
            &__description{
               @include respond(mobile-por){
                   flex-direction: row !important;
               }
               @include respond(mobile-land){
                flex-direction: column !important;
               }
           }

           &__get-in{
            @include respond(mobile-por){
                flex-direction: row !important;

                padding: 0rem !important;
            }
            @include respond(mobile-land){
                flex-direction: column !important;
                width: 80%;
                text-align: center;
                align-items: center !important;
            }
            &--open{
                padding: 0rem !important;

            }
           }

           &__icons{
            align-items: center !important;
            @include respond(mobile-land){
                width: 80%;
                padding: 0rem 0rem 1.5rem 0rem !important;
            }
           }
        }
        & div{
         @include respond(mobile-por){
             grid-template-columns: auto !important;
             grid-template-rows: repeat(3,1fr);
             justify-content: center;
             align-items: center;
            //  padding: 0rem 5rem;
         }
        }

        & .copyright{
            @include respond(mobile-land){
                text-align: center;
            }
        }
}