.main{
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 95vh max-content 74.6rem 52.38rem max-content 27.32rem 45.32rem 45rem;
}