.services{
    grid-row: 3 / 4;
    height: 100%;
    @include respond(tab-por){
        padding:  0rem 0rem 2rem 2rem !important;
    }
    @include respond(mobile-por){
        padding:  0rem 0rem 2rem 1rem !important;
    }
    @include respond(mobile-land){
        padding: 0 !important;
    }

    @include respond(sm-laptop){
        padding: 0rem 1rem 2rem 1rem !important;
    }

    &-top{
        @include respond(tab-por){
            height: max-content !important;
        }
        @include respond(mobile-land){
            display: flex !important;
            flex-direction: column;
        }
    }
    &-text{
        @include respond(tab-por){

            padding: 0 !important;
            margin: 0 !important;
        }

        @include respond(mobile-por){
            padding: 0rem !important;
        }
        @include respond(mobile-land){
            text-align: center;
            padding-left: 1rem;
        }
    }

    &-gallery{
        @include respond(tab-por){
            justify-content: center;
        }
        @include respond(mobile-por){
            margin-top: 2rem;
        }
        &__container{
            @include respond(mobile-land){
                width: 100vw;
            }
        }
    }

    &-description{
        margin-right: 0rem !important;
        padding: 0rem .5rem !important;
    }
}