.about-cards{
    display: block;
        width: 23rem;
        height: 23rem;
        @include cardBase;
        @include boxShadow;
        background-color: var(--color-white);
        border-radius: .4rem;
        @include respond(tab-por){
            min-width: 23rem;
        }
      
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    &__holder{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        &--icon{
            grid-column: 1 / 2;
            background-color: var(--color-black);
            width: 9.5rem;
            height: 8.5rem;
            margin-top: -1.74rem;
            overflow: hidden;
            border-radius: .35rem 0 4.658rem 0rem; 
            display: grid;
            justify-content: center;
            align-items: center;

        }

        &--number{
            grid-column: 2 / -1;
            font-size: 5rem;
            margin: -1rem 0rem 0rem 1rem;
            font-family: Manrope;
            opacity: .4;
        }
    }

    

    &__heading{
        font-size: $about-card-heading;
        text-align: center;
        padding-left: 1.5rem;
        display: block;
        @include cardHeading;
        margin: -1rem 0rem -2.7rem 0rem;


    }

    &__paragraph{
        @include cardText;
        text-wrap: wrap;
    }

    &__icon{
        fill: var(--color-white);
        height: 6rem;
        width: 5rem;
        margin: 0rem 1rem 1rem 0rem;
    }

    
}