.button{
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--color-main);
    padding: 1.1rem 4rem;
    font-size: $main-font-size;
    color: var(--color-white-light-2);
    text-transform: capitalize;
    text-align: center;
}