.experts-card{
        width: 21.24419rem;
        height: 28.65906rem;
        position: relative;
        &::before{
            content: '';
    height: 25.65906rem;
    width: 18rem;
    position: absolute;
    z-index: -1;
    padding-left: 1rem;
    border-radius: 0.6rem;
    border: 4px dashed var(--color-main);
    transform: rotate(353deg) translateY(-13.8%) translateX(1.3%);
        }
}