.navigation{
    &-top{
        grid-row: 1 / 2;

        display:flex;
        // grid-template-columns: repeat(2 , 1fr);
        // grid-column-gap: 18rem;
        height: 100%;
        background-color: var(--color-black-light);
        justify-content: center;
        align-items: center;
        &--contacts{
            display: flex;
            grid-column: 1 / 2;
            justify-self: start;
            justify-content: space-between;
            align-items: center;
            padding-right: 2rem;

            
            &__item{
                // margin-left: 2rem;
                margin-right: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $links-font-size;
            }
        }

        &--socials{
            display: flex;
            grid-column: 2 / -1;
            justify-self: stretch;
            justify-content: space-around;
            margin-left: 20rem;
            margin-right: 2rem;

         &__item{
            margin-left: 5rem;
            padding: 0rem 6rem 0rem  0rem;
         }
        }
    }

}
.social-icon{
    margin-right: 1.8rem;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}