.nav-bar{
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 15rem 1fr 10rem;

    &--logo{
        grid-row: 1 / 2;
        width: 4rem;
        height: 5rem;
    }

    &--lists{
        grid-column: 2 / 3;
        display: flex;
        justify-content: space-around;
        

        &__item{
            text-decoration: none;
            
        }
    }

    &--contact{
        grid-column: 3 / -1;
    }

}