.nav-bar{
    grid-row: 2 / -1;

    display: flex;
    grid-template-columns: 15rem 1fr 10rem;
    justify-content: space-between;
    align-items: center;
    font-size: $main-font-size;
    height: 100%;
    

    &--logo{
        width: 7rem;
        height: 5rem;
        padding-left: 1rem;
    }

    &--lists{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        margin-right: -6rem;



        &__item{
            text-decoration: none;
            color: var(--color-black);
            padding: 0px 1.5rem;
        }
        &__item:hover{
            color: var(--color-main);
        }
    }

    &--contact{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-right: 9rem;
        @include respond(tab-por){
            margin-right: 3rem;
        }
        &__icon{
            height: 3.6rem;
            width: 2.6rem;
        }

        &__text{
            color: var(--color-black-light);
            font-size: $main-font-size;
            text-transform: capitalize;
            padding-left: 0.5rem;
        }

        &__text:hover{
            color:var(--color-main)
        }
    }

    
}

.sticky{
    position: -webkit-sticky;
    position:fixed;
    top: 0;
    background-color: rgba(#ABABAB,.6);
    backdrop-filter: blur(15px);
    width: 100%;
    @include boxShadow;
    z-index: 10;
    // background-blend-mode: ;
  }
  