@mixin cardBase {
    box-shadow: 1px 1px .8rem 1px rgba(var(--color-black), .10);
    background-color: var(--color-white);
}

@mixin cardText{
    font-size: $card-font-size-paragraph;
    line-height: 1.5;
    text-align:start;
    padding: 0rem 1.5rem;
}

@mixin cardHeading{
    text-transform: capitalize;
    font-weight: 800;
}

@mixin boxShadow{
   box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.10); 
}