$main-font-size: 1.15rem;
$banner-font-size-paragraph:1.3rem;
$about-card-heading: 1.7rem;
$card-font-size-paragraph:1.08rem;
$links-font-size: 0.9rem;
$heading-secondary: 2.05rem;
$heading-main:4rem;